body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #ffffff;
    color: rgb(25, 51, 33);
    text-align: center;
    padding: 20px 0;
    margin: 0;
    border-radius: 10px;
}
.content.h{
    text-align: center;
    justify-content: center;
}
.headers
{
    display: flex;
    justify-content: center;
}
#content {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    /* border-bottom: 1px solid #ddd; */
}
