body
{
    background-color:rgb(106, 156, 137);
}
h1, h3
{
    font-family: sans-serif;
    background-color: rgb(22, 66, 60);
    border: 10px solid rgb(22, 66, 60);
    border-radius: 5px;
}
p
{
    font-family: serif;
    text-align: justify;
    background-color: rgb(22, 66, 60);
    border: 10px solid rgb(22, 66, 60);
    border-radius: 5px;
}

* {
    color: seashell;
}
div{
    color: seashell;
    padding: 20px solid rgb(22,66,60);
    display:flex;
    flex-wrap: wrap;
    margin:3px;
}
/* unvisited link */
a:link {
    color: rgb(60, 255, 180);
}

/* visited link */
a:visited {
    color: rgb(255, 119, 0);
}

/* mouse over link */
a:hover {
    color: rgb(0, 212, 0);
}

/* selected link */
a:active {
    color: rgb(0, 195, 255);
}
nav
{
    font-family: serif;
    text-align: justify;
    background-color: rgb(22, 66, 60);
    border: 10px solid rgb(22, 66, 60);
    border-radius: 5px;
}
